:root {
  --dark-blue: #363f5f;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 93.75%;
}

body {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

/* CSS Trick to hide the title but still being readable with screen readers */
.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.container {
  width: min(
    90vw,
    800px
  ); /* search for the lowest value between 90vw and 800px */
  margin: auto;
}

/* ___________________ TITLES ___________________ */
h2 {
  color: var(--dark-blue);
  font-weight: 400;
  margin-bottom: 0.8rem;
  margin-top: 3.2rem;
}

/* ___________________ LINKS & BUTTONS ___________________ */
a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--light-green);
}

button {
  background: var(--green);
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  height: 50px;
  padding: 0;
  width: 100%;
}

button:hover {
  background: var(--light-green);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.button.cancel {
  align-items: center;
  border: 2px var(--red) solid;
  border-radius: 0.25rem;
  color: var(--red);
  display: flex;
  height: 50px;
  justify-content: center;
  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

/* ___________________ HEADER ___________________ */
header {
  background: #2d4a22;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 100;
}

/* ___________________ BALANCE AND CARDS___________________ */
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: #fff;
  margin-top: 0;
}

.card {
  background: #fff;
  border-radius: 0.25rem;
  color: var(--dark-blue);
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.card h3 {
  align-items: center;
  display: flex;
  font-weight: normal;
  font-size: 1rem;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  background: var(--green);
  color: #fff;
}

/* ___________________ TABLE ___________________ */
#transaction {
  display: block;
  overflow-x: auto;
  width: 100%;
}

#data-table {
  border-spacing: 0 0.5rem;
  color: #969cb3;
  width: 100%;
}

table th {
  background: #fff;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
}

table td {
  background: white;
  font-weight: 400;
  padding: 1rem 2rem;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table thead tr:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}

/* ___________________ MODAL ___________________ */
.modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #f0f2f5;
  padding: 2.4rem;
  position: relative;
  z-index: 1;
}

/* ___________________ FORM ___________________ */
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

.removeTransactionIcon {
  cursor: pointer;
}

/* ___________________ FOOTER ___________________ */
footer {
  color: var(--dark-blue);
  opacity: 0.6;
  padding: 4rem 0 2rem;
  text-align: center;
}

/* ___________________ RESPONSIVE ___________________ */
@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
